body {
    background-color: #044202;
    margin: 0px;
  }
  
  .header {
    background-color: #dadada;
    display: flex; 
    align-items: center;
    justify-content: center; 
    height: 50px;
  }
  
  .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #010165;
    font-family: 'Work Sans';
  }
  
  .bot-icon {
    font-size: 24px;
    color: #010165;
    margin-right: 8px;
  }

  .title-row {
    margin-top: 42px;
    text-align: center;
    margin-bottom: 21px;
  }
  .star-icon {
    font-size: 15px; 
    color: gold; 
  }
  
  .instructions-title {
    display: inline;
    font-family: 'Work Sans';
    font-size: 18px;
    color: #00ffff;
  }
  
  .instructions-row {
    margin: 0 auto;
    width: 400px;
  }
  
  .instructions-number {
    padding-right: 25px;
    font-family: 'Work Sans';
    font-size: 36px;
    color: #00ffff;
  }
  
  .instructions-text {
    padding: 10px;
    font-family: 'Work Sans';
    font-size: 14px;
    color: #ffffff;
  }
  
  .door-row {
    text-align: center;
  }
  
  .door-frame {
    cursor: pointer;
    padding: 10px;
  }
  
  .start-row {
    margin: auto;
    width: 120px;
    height: 43px;
    background-color: #010165;
    padding-top: 18px;
    font-family: 'Work Sans';
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 9px;
    cursor: pointer;
  }
  .start-row:hover {
    background-color: #16efff;
    color: #000000;
  }
  .score-row {
      text-align: center;
      width: 100%;
  }
  
  table {
      display: table;
      border-collapse: separate;
      box-sizing: border-box;
      text-indent: initial;
      border-spacing: 2px;
      border-color: grey;
  }
  tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
  }
  tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
  }
  .score-text {
      margin-right: 17px;
      padding: 5px;
      display: inline;
      font-family: 'Work Sans';
      font-size: 12px;
      letter-spacing: 1.1px;
      color: #ffffff;
  }
  .score-box {
      margin-top: 9px;
      display: inline-block;
      padding: 8px;
      margin: 18px;
      margin-right: 29px;
      width: 59px;
      background-color: #00ffff;
      font-family: 'Work Sans';
      font-size: 45px;
  }